DATABASE_URL=

PORT=
NODE_ENV=
API_PREFIX=
API_VERSION=

# CORS
CORS_ORIGINS=
CORS_CREDENTIALS=

# JWT
JWT_SECRET=
JWT_EXPIRE_IN_SECONDS=

REFRESH_JWT_SECRET=
REFRESH_JWT_EXPIRE_IN_SECONDS=

# SESSIONS
MAX_COUNT_SESSIONS=

FRONT_URL=

# COOKIES
ACCESS_COOKIE_SECURE=
ACCESS_COOKIE_SAMESITE=
ACCESS_COOKIE_MAX_AGE_MS=

REFRESH_COOKIE_SECURE=
REFRESH_COOKIE_SAMESITE=
REFRESH_COOKIE_MAX_AGE_MS=

# UPLOAD
PUBLIC_URL=
UPLOAD_DIR=
UPLOAD_MAX_FILE_SIZE_BYTES=
